.flexRow--desktop__newsletter{
    background-color: #ff23ff6f!important;
    height: 90px;
}

.flexCol--desktop__newsletter--text{
    height: 100%;
}

.flexColChild--desktop__search-main--search-result{
    height: auto!important;
}

.flexRowContent--desktop__gallery--products{
    height: 200px!important;
}

.flexColChild--gallery__products--info{
    height: fit-content!important;
}

/* .flexColChild--gallery__products--image{
    max-height: 190px;
} */