.logoContainer--desktop__logo{
    padding: 0;
}

.searchBarContainer{
    border-radius: 0;
    /* background-color: aquamarine; */
}

/* .searchBarContainer :global(.vtex-input-prefix__group){
 border-radius: 50px;
} */

.imageElement--grid__image{
    border-radius: 6px;
    height: 100%;
}
